<div class="page-heading">
  <div>
    <%= link_to '<i class="fas fa-light fa-plus"></i> Add New Subcategory'.html_safe, new_category_subcategory_path(@category.id),  class:"btn-sm btn-dark" %>
    <%= link_to '<i class="fa fa-arrow-left"></i> Back'.html_safe , categories_path, class:"btn-sm btn-secondary" %>
  </div>
</div>
