<div class="page-heading">
  <div>
    <%= link_to "Add New Subcategory", new_category_subcategory_path(@category.id),  class:"btn-sm btn-dark" %>
    <%= link_to "Back", categories_path, class:"btn-sm btn-secondary" %>
  </div>
</div>
