<h2 class="page-heading">About Ekart Team</h2>
<div class="about-section">
  <h1>Ekart Shopping</h1>
  <p>A website providing you the products from all over the world.</p>
  <p>Our website allows only verified sellers and we assure to deliver best quality products..</p>
</div><br />

<h1 style="text-align:center">Our Founders</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/team1.jpg" alt="Tim" style="width:100%">
      <div class="container">
        <h2>Tina Jones</h2>
        <p class="title">CEO & Founder</p>
        <p>Founded by Tina in year 2023.</p>
        <p>tina@ekart.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/assets/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>All the operations are conducted under my guidance.</p>
        <p>mike@ekart.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>The website has been designed by me.</p>
        <p>john@ekart.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>