<div class="page-heading">
  <div>
    <%= link_to '<i class="fas fa-light fa-plus"></i> Add New Category'.html_safe, new_category_path, class:"btn-sm btn-dark" %>
    <%= link_to '<i class="fas fa-thin fa-house"></i> Home'.html_safe, root_path, class:"btn-sm btn-secondary" %>
  </div>
</div>
